body {
    /*font-family: roboto, 'Times New Roman', sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.section-5 {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px 0px;
    justify-content: center;
}

.section-4 {
    display: flex;
    margin: 80px 150px;
    padding: 50px 110px;
    background-color: #3882F6;
    justify-content: space-between;
    color: #d1d7e2;
    font-size: 17px;
    border-radius: 10px;
}

.action-call {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 22px;
}

.right-sided {
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 280px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

.person {
    text-align: right;
    margin-right: 30px;
    font-size: 22px;
    font-weight: bold;
}

.top-part {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 30px 0px;
}

.box-1-stuff, .box-2-stuff, .box-3-stuff, .box-4-stuff {
    width: 158px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.bottom-part {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
    font-size: 17px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.main-heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 120px;
    padding: 7px 20px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    border: 0px;
}

.text {
    color: #b9bdc4;
    font-size: 18px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.btm {
    display: flex;
    justify-content: space-between;
    margin: 80px 150px;
}

.left-part {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-part {
    background-color: gray;
   /* padding: 50px;
    padding-left: 200px; */
    display: flex;
    align-items: center;
    padding: 0px 130px;

}

.section-2 {
    display: flex;
    flex-direction: column;
}



